<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      App Contable
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Listado</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>

    <ion-toolbar>
      <ion-title size="small">Administra y gestiona todos datos</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Información reciente</ion-title>
    </ion-toolbar>


    <ion-col size="12">
      <ion-list>
        <ion-item>
          <ion-col size="4">Monto</ion-col>
          <ion-col size="8">Descripción</ion-col>
        </ion-item>
        <ion-item-sliding class="align-items-center" *ngFor="let record of records; let i = index">
          <ion-item>

            <ion-col  size="4">
              <ion-note *ngIf="record.type == 'Ingreso'" color="success">$ {{record.amount}}</ion-note>
              <ion-note *ngIf="record.type == 'Egreso'" color="danger">$ {{record.amount}}</ion-note>
            </ion-col>
            <ion-col size="8">
              <ion-note>{{record.description}}</ion-note>
            </ion-col>

          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="UpdateRecord(record)"><ion-icon name="create-outline"></ion-icon></ion-item-option>
            <ion-item-option color="danger" (click)="DeleteRecord(record)"><ion-icon name="trash-outline"></ion-icon></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="NewRecord()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
