<form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate size="12">
  <ion-row class="ion-text-center align-items-center">
    <ion-header [translucent]="true">
      <ion-toolbar color="primary">
        <ion-title>
          App Contable
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-toolbar color="default">
      <ion-title>Actualizar Registro</ion-title>
    </ion-toolbar>
  </ion-row>

  <ion-row>
    <ion-col size="12" >
      <ion-select formControlName="type" [(ngModel)]="addrecord.type" placeholder="Seleccione --" required>
        <ion-select-option value="Ingreso">Ingreso</ion-select-option>
        <ion-select-option value="Egreso">Egreso</ion-select-option>
      </ion-select>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.type.errors?.required">
        Seleccione una opción.
      </span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-input formControlName="description" [(ngModel)]="addrecord.description" placeholder="Descripción" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
      La descripción es requerida.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
       3 caracteres mínimos
      </span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item>
        $<ion-input maxlength="10" formControlName="amount" [(ngModel)]="addrecord.amount" type="number" placeholder="Monto($)" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.amount.errors?.required">
        Ingrese un número valido.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.amount.errors?.pattern">
        Ingrese un número.
      </span>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col size="6">
      <ion-button expand="block" color="danger" (click)="CloseModal()">Cancelar</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="success" type="submit">Actualizar</ion-button>
    </ion-col>
  </ion-row>

</form>
