<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      App Contable
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title>Gastos mensuales</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
  <ion-row class="ion-text-center align-items-center">
    <ion-col size="12">
      <ion-text><h4><ion-icon name="duplicate-outline"></ion-icon> Ingreso de datos</h4></ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10" offset="1" >
      <ion-select formControlName="type" placeholder="Seleccione --" required>
        <ion-select-option value="Ingreso">Ingreso</ion-select-option>
        <ion-select-option value="Egreso">Egreso</ion-select-option>
      </ion-select>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.type.errors?.required">
        Seleccione una opción.
      </span>
    </ion-col>
    <ion-col size="10" offset="1" >
      <ion-item>
        <ion-input formControlName="description" placeholder="Descripción" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.required">
      La descripción es requerida.
    </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.description.errors?.minlength">
       3 caracteres mínimos
    </span>
    </ion-col>
    <ion-col size="10" offset="1">
      <ion-item lines="full">
        <ion-input maxlength="10" formControlName="amount" type="number" placeholder="Monto($)" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.amount.errors?.required">
        Ingrese un número valido.
      </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.amount.errors?.pattern">
        Ingrese un número.
      </span>
    </ion-col>

    <ion-col size="10" offset="1">
      <br><br>
      <ion-button expand="block" type="submit" color="success" >Guardar</ion-button>
    </ion-col>
  </ion-row>
  </form>
  <!-- Error messages -->
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.amount.errors?.required">

  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.amount.errors?.minlength">

  </span>

</ion-content>
