<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      App Contable
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-card>
      <img src="../assets/image/presentation.jpg" />
      <ion-card-header>
        <ion-card-title>Tu App Contable</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Una herramienta pensada para administrar tus ingresos y egresos de una forma fácil y rápida.
      </ion-card-content>
    </ion-card>

  </ion-row>

  <ion-row>

        <ion-col size="12" >
          <ion-toolbar class="ion-margin-start ion-margin-end" color="success">
            <ion-buttons slot="start">
              <ion-button>
                <ion-icon name="arrow-up-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>${{income}}</ion-title>
          </ion-toolbar>
        </ion-col>
        <ion-col size="12" >
          <ion-toolbar class="ion-margin-start ion-margin-end" color="danger">
            <ion-buttons slot="start">
              <ion-button>
                <ion-icon name="arrow-down-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>${{expense}}</ion-title>
          </ion-toolbar>
        </ion-col>


  </ion-row>

</ion-content>
