<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabDash">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabList">
      <ion-icon name="logo-buffer"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabAdd">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Nuevo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
